/* Bakery Formula Style */

label,
input {
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: gainsboro;
    margin-bottom: 1em;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 50%;
    }
}

@media (max-width: 400px) {
    .container {
        width: 200px;
    }
}

.container-column {
    flex-direction: column;
}

.container-content {
    padding: 0.6em;
}

.table-container {
    display: grid;
    grid-template-columns: 5% 5% 20% 10% 10% 10%;
    grid-template-rows: repeat(auto-fill);
    grid-gap: 0.2em;
}
.table__cell {
    border-radius: 5px;
    background-color: rgb(112, 175, 177);
    color: #fff;
    padding: 0.5em;
    font-size: 14px;
}

.input__error {
    border-color: #dc143d;
    border: 1 solid;
}
